.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-label {
  font-size: 14px;
  margin-bottom: 5px;
}
.input-label.white{
  color: white;
}
.input-label:not(.white) {
  color: #838383;
}

.text-input {
  color: #656565;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.text-input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}