.password-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.password-label {
  margin-bottom: 5px;
  color: #838383;
  font-size: 14px;
}

.password-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 9px;
}

.password-input {
  font-size: 16px;
  background-color: white;
  color: #656565;

  flex: 1;
  border: none;
  outline: none;
  width: 70%;
}

.password-toggle-icon {
  cursor: pointer;
  display: flex;
}

.password-toggle-icon:hover {
  color: #000;
}
