.toggle-container {
  font-family: monospace;  
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  width: 60%;
  /* border: 2px solid #ccc; */
}
.toggle-tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
  font-weight: bold;
}
.toggle-tab.active {
  background-color: #000;
  color: #fff;
}
.toggle-tab:not(.active) {
  background-color: #838383;
  color: #ffffff;
}
